.DS_Store
.buildlog
/web/**/**/**/out
/web/**/**/**/out/*
/packages
/web/packages
/web/**/packages
/web/**/**/packages
/web/**/**/**/packages
/web/**/**/**/**/packages
/web/**/**/**/**/**/packages
/web/**/**/**/**/**/**/packages
/tool/packages
